 body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    nav {
      background-color: #333;
      padding: 20px 20px;     /* make sure it’s on top of other elements */
    }

    nav ul {
      list-style-type: none;
      margin: 0px;
      padding: 0px;
      display: flex;
      justify-content: flex-end;
    }

    nav ul li {
      margin: 0 15px;
    }

    nav ul li a {
      color: white;
      text-decoration: none;
      font-size: 16px;
      transition: color 0.3s;
    }

    nav ul li a:hover {
      color: #000000;
    }
    .card{
        background-color: #444;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 0 0;
    }
    .card:hover{
        background-color: #ffc744;
    }